.dice {
  border: 1px solid black;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
}

.dot{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
}

.dice-first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-second-face{
  display: flex;
  justify-content: space-between;
}

.dice-second-face .dot:nth-of-type(2){
  align-self: flex-end;
}

.dice-third-face{
  display: flex;
  justify-content: space-between;
}

.dice-third-face .dot:nth-of-type(3){
  align-self: flex-end ;
}

.dice-third-face .dot:nth-of-type(2){
  align-self: center ;
}

.dice-fourth-face{
  display: flex;
  justify-content: space-between;
}

.dice-fourth-face .dice-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice-fifth-face{
  display: flex;
  justify-content: space-between;
}

.dice-fifth-face .dice-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice-fifth-face .dice-column:nth-of-type(2){
  justify-content: center;
}

.dice-sixth-face{
  display: flex;
  justify-content: space-between;
}

.dice-sixth-face .dice-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* H1: Stable table row height */
.dice-cell {
  min-height: 62px;
  height: 62px;
  vertical-align: middle;
}

/* F4: Leave icon styles */
.leave-icon {
  cursor: pointer;
  font-size: 14px;
  margin-top: 2px;
}
.leave-inactive {
  color: #ccc;
}
.leave-inactive:hover {
  color: #999;
}
.leave-active {
  color: #5cb85c;
}
.leave-active:hover {
  color: #449d44;
}

/* Admin badge */
.admin-badge {
  font-size: 10px;
  color: #337ab7;
  margin-left: 4px;
}

/* Pending player styling */
.pending-row {
  opacity: 0.5;
}
